node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

memory_bank/
memory-bank/
dev-dist/
tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo
vite.config.js
vite.config.d.ts